In [ ]:
temp_list = [(i+10) for i in range(11)]

for data_index in range(len(temp_list)): #range안에는 명시적 숫자보단 변수
    print(data_index, temp_list[data_index])

In [ ]:
for data in temp_list:
    print(data)

In [ ]:
temp_list = [(i+10) for i in range(11)]
temp_list2 = [(i+20) for i in range(11)]

for data_idx in range(len(temp_list)):
    print(data_idx, temp_list[data_idx], temp_list2[data_idx],
          temp_list[data_idx] + temp_list2[data_idx])

In [ ]:
temp_list = [(i+10) for i in range(11)]

for data_idx, data in enumerate(temp_list):
    print(data_idx, data)

In [6]:
def avg1(temp_list):

    sum_val = 0

    for data_idx, data in enumerate(temp_list):
        sum_val +=data
    mean = sum_val / len(temp_list)

    return mean

In [11]:
temp_list = [(i+10) for i in range(10)]
avg1(temp_list)

14.5

In [12]:
def cond_avg1(temp_list):
    sum_val = 0
    data_cnt = 0
    for data_idx, data in enumerate(temp_list):
        if data >=50 and data < 60:
            sum_val +=data
            data_cnt += 1
    mean = sum_val / data_cnt
    return mean

In [13]:
temp_list1 = [(i+10) for i in range(100)]
cond_avg1(temp_list1)

54.5

In [18]:
def max_min(temp_list):
    M,m = None, None
    for data in temp_list:
        if M == None or data > M:
            M = data
        if m == None or data <m:
            m = data
    return M,m

In [19]:
temp_list1 = [(i+10) for i in range(100)]
max_min(temp_list1)

(109, 10)

In [21]:
def score(score_list, grade_list):
    for score in score_list:
        if score >= 90 and score < 100:
            grade_list[0] = grade_list[0] + 1
        elif score >= 80 and score <90:
            grade_list[1] = grade_list[1] + 1
        elif score < 80 and score >=0:
            grade_list[2] = grade_list[2] + 1
        else:#else 구문은 주로 예외처리
            class ScoreError(Exception):
                pass
            raise ScoreError("INVALID SCORE")

        return grade_list

In [24]:
score_list = [(i+10) for i in range(90)] + [1000]
grade_list = [0,0,0]

score(score_list, grade_list)

[0, 0, 1]